<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/assets/Profile/documentlogo.png" />
  <title>Document Links</title>
  <link rel="stylesheet" href="profile.css">
</head>
<body>
  <header>
    <h1>Document Links:</h1>
    <p id="loggedInAs">Logged in as: Employer</p>
  </header>
  
  <section id="documentsList">
  </section>

  <button id="addDocumentBtn" class="button">Add Document</button>
  <button id="removeDocumentBtn" class="button">Remove Document</button>
  <a href="../../../index.html"><button id="logoutBtn" class="button">Back to Homepage</button></a> 

  <script src="profile.js"></script>
</body>
</html>
